body{
    background-color: #f8f9fa;
   
}
li{
    list-style: none;
    cursor: pointer;
    padding: .3rem .5rem;
}
.active{
    color: rgb(59, 59, 248);
    background-color: gainsboro;
    border-radius: .5rem;
}
.active-file{
    color: rgb(59, 59, 248);
    background-color: gainsboro;
    border-radius: .5rem;
}

@media  (max-width: 576px) {

    #categories li{
        margin-bottom: 5px;
    }
}